.card-bg {
    height: 12.06rem;
    padding: 0.93rem 1.31rem;
    font-size: 1.62;
    background-size: cover;
}

.card-batman .card-bg {
    background-image: url(../assets/img/fondo_batman.png);
}

.card-harley .card-bg {
    background-image: url(../assets/img/fondo_harley.png);
}

.card-superman .card-bg {
    background-image: url(../assets/img/fondo_superman_2.png);
}

.card-wonderwoman .card-bg {
    background-image: url(../assets/img/fondo_mujer_maravilla.png);
}