:root {
    --font-color: rgba(0, 86, 119, 1);
    --background-color: rgba(196, 196, 196, 1);
    --font-family: 'Times New Roman', Times, sans-serif;
}



.logo_batman {
    background-color: rgba(229, 229, 229, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}


.titulo_cv h1 {
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    font-family: var(--font-family);
    text-transform: uppercase;
    color: var(--font-color);
    letter-spacing: 7px;
    height: 3rem;
    margin-bottom: 80px;
}

.titulo_cv div {
    position: absolute;
    top: 0;
    bottom: 0;
}


#datos_personales span {
    font-weight: bold;
    font-family: var(--font-family);
    font-style: italic;
}

#datos_personales ul {
    line-height: 30px;
}

span {
    font-weight: bold;
}


.main_section {
    display: inline-flexbox;
    padding-block: -50%;

}

.main_section h3 {
    display: flex;
    justify-content: left;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: var(--font-family);
    letter-spacing: 5px;
    text-indent: 15px;
    height: 45px;
}

.footer_batman {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 86, 119, 1);
    color: white;
    font-family: var(--font-family);
}

.footer_batman img {
    margin-left: 15px;
}